slot-attention-pytorch/__pycache__/model.cpython-38.pyc
slot-attention-pytorch/__pycache__/dataset.cpython-38.pyc

.python-version
.venv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# Python Virtual Environment (pyenv)
arc_venv/

# W&B logs and artifacts
wandb/

# Downloaded ARC dataset
arc_dataset/

# General Python cache
__pycache__/
*.pyc

# IDE settings
.vscode/